<a href="https://colab.research.google.com/github/anugrahfitra/pengaturanjadwalpps/blob/main/jadwal_PPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# List Jadwal Kantor

In [ ]:
df = pd.read_excel('/content/jadwal_kantor.xlsx')

In [ ]:
df

,NAMA PEGAWAI,Unit Organisasi,SENIN,SELASA,RABU,KAMIS,JUMAT
0,Tekad Widodo Setiawan,KPP Pratama,WFO,WFO,WFO,WFH,WFO
1,Alkhayatun Widiastuti,Seksi Pelayanan,WFO,WFO,WFH,WFO,WFO
2,M. Rizal Gunawan,Seksi Penjaminan Kualitas Data,WFO,WFH,WFO,WFO,WFO
3,Irwansyah Lubis,"Seksi Pemeriksaan, Penilaian, dan Penagihan",WFO,WFO,WFO,WFH,WFO
4,Mufaidi,Seksi Pengawasan I,WFO,WFO,WFH,WFO,WFO
...,...,...,...,...,...,...,...
111,Taruma Eka Syaputra,KPP Pratama,WFO,WFO,WFH,WFO,WFO
112,Adhyanto Cahyo Nugroho,KPP Pratama,WFO,WFO,WFO,WFH,WFO
113,Amir Budiman,KPP Pratama,WFO,WFO,WFO,WFO,WFH
114,Pangki,KPP Pratama,WFH,WFO,WFO,WFO,WFO
115,Arini Ruth Yuni Siringo-Ringo,KPP Pratama,WFO,WFO,WFH,WFO,WFO

In [ ]:
df.shape

(116, 7)

In [ ]:
df.columns = df.columns.str.replace(' ','_')

In [ ]:
df["Unit_Organisasi"].unique()

array(['KPP Pratama', 'Seksi Pelayanan', 'Seksi Penjaminan Kualitas Data',
       'Seksi Pemeriksaan, Penilaian, dan Penagihan',
       'Seksi Pengawasan I', 'Seksi Pengawasan II',
       'Seksi Pengawasan III', 'Seksi Pengawasan IV',
       'Seksi Pengawasan VI', 'Subbagian Umum dan Kepatuhan Internal',
       'Seksi Pengawasan V'], dtype=object)

In [ ]:
ex_nama = ['Mely Margaretha','Chaula Tafriza','Melani Tri Asari','Agung Gumelar','Fera Fanda Luturmas','Retno Tri Susanti',\
           'Budi Warsito','Agus Sukarta','Eko Cahyo Putranto','Khisna Nur Aziza','Farah Atika Zahra','Dyah Ayu Sitta Rokhania',\
           'Firda Maharani Anwar','Masgahara Sumarni','Luluk Amirothul Munawaroh','Yuanto Surya Pratama','Reike Rahayu Widyaningtyas',\
           'Nur Aulia','Radita Ari Purwaning','Sri Hardini Wijatsari','Tekad Widodo Setiawan','Alkhayatun Widiastuti','Fery Daluirmanto',\
           'Intan Intarty','Mufi Datun Khasanah','Siti Laely Nur Azizah','Yogma Dwi Aprianto','Ruly Erika Sandra','Yunita Asmidar',\
           'Asri Ambarsari','Alvoncha Rizky Prabowo','Teguh Triyanto','Fariza Irinne','Erlin Ardi Cahyaningmas','Astrid Isyana Biki','Nurlaila',\
           'Fardhani Binarsanti','Safingi Suhari','Jessica Zabrina','Anis Nur Ariffin','Agnes Adelin S','Virani Dhini Ramadhan','Syifa Ahmad Fajri Hadiyanto Putra','Sri Hardini Wijatsari']

In [ ]:
df_jkantor = df[~df.NAMA_PEGAWAI.isin(ex_nama)]

In [ ]:
df_jkantor['NAMA_PEGAWAI'].unique()

array(['M. Rizal Gunawan', 'Irwansyah Lubis', 'Mufaidi', 'Djoko Prakosa',
       'Soelarso', 'Arif Wibawa', 'Sonny', 'Feby Fadilah Rahmat',
       'Hilman Hermarian', 'Masithah Ibrahim', 'Dedi Sugianto',
       'Rizka Nur Farikhati', 'Lukman Nur Hakim', 'Nuke Listiawati',
       'Retryani Hadi', 'Agus Novianto', 'Tulus Wibowo',
       'Korry Marintan Siahaan', 'Wakhid Nanang Santoso',
       'Fanny Kusumawardhani', 'Achmad Sofyan Rasyid', 'Eko Budianto',
       'Pranindya Estikaningkapti', 'Nanang Suhartoyo',
       'Fitriya Elyta Fajarini', 'Muhammad Bestari', 'Galih Gumbira',
       'Arik Purnomo', 'Feri Arnanda', 'Neni Mulyanah',
       'Sri Andi Widiastoto', 'Diah Kusumah', 'Andi Suprapto',
       'Heri Prasetyo', 'Mustopa Ridwan', 'Prio Santoso',
       'Soni Liston Bukit', 'Rahmi Izzati', 'Kastolani',
       'Ferdinand Marcos Sihotang', 'Suanggi Febriyanto', 'Achiruddin',
       'Triatmoko Yusuf Cahyono', 'Annisa Dwi Putri', 'Riska Amelya',
       'Bambang Setioso', 'Elin Prin Herlinawati', 'Nurhayati',
       'Rahardjo Suhargiyantomo', 'Yuwono Aji Satyo', 'Rudy Priambodo',
       'Muhammad Ade Hidayat', 'M. Idham', 'Karta Sastra', 'Novrina',
       'Ariany Pitaloka', 'Ferdhi Farid Febrian', 'Wah Hendrix Priambudi',
       'Liza Purnamasari', 'Achmad Supriyanto', 'Daryo',
       'Gunawan Febrianto Anthur', 'Jhon Ferry Sinaga',
       'Muhammad Rico Perdana', 'Ihwan Habib', 'Abidah Hanim',
       'Zia Ul Haq', 'Syeh Ismail Zabarti', 'Taruma Eka Syaputra',
       'Adhyanto Cahyo Nugroho', 'Amir Budiman', 'Pangki',
       'Arini Ruth Yuni Siringo-Ringo'], dtype=object)

In [ ]:
df_jkantor.shape

(73, 7)

In [ ]:
df_jkantor.reset_index(drop=True, inplace=True)

In [ ]:
df_jkantor

,NAMA_PEGAWAI,Unit_Organisasi,SENIN,SELASA,RABU,KAMIS,JUMAT
0,M. Rizal Gunawan,Seksi Penjaminan Kualitas Data,WFO,WFH,WFO,WFO,WFO
1,Irwansyah Lubis,"Seksi Pemeriksaan, Penilaian, dan Penagihan",WFO,WFO,WFO,WFH,WFO
2,Mufaidi,Seksi Pengawasan I,WFO,WFO,WFH,WFO,WFO
3,Djoko Prakosa,Seksi Pengawasan II,WFO,WFH,WFO,WFO,WFO
4,Soelarso,Seksi Pengawasan III,WFO,WFO,WFO,WFH,WFO
...,...,...,...,...,...,...,...
68,Taruma Eka Syaputra,KPP Pratama,WFO,WFO,WFH,WFO,WFO
69,Adhyanto Cahyo Nugroho,KPP Pratama,WFO,WFO,WFO,WFH,WFO
70,Amir Budiman,KPP Pratama,WFO,WFO,WFO,WFO,WFH
71,Pangki,KPP Pratama,WFH,WFO,WFO,WFO,WFO
72,Arini Ruth Yuni Siringo-Ringo,KPP Pratama,WFO,WFO,WFH,WFO,WFO

# List Jadwal SPT

In [ ]:
df2 = pd.read_excel('/content/jadwal_spt.xlsx')

In [ ]:
df2

,Senin,Selasa,Rabu,Kamis,Jumat
0,Zia Ul Haq,Alkhayatun Widiastuti,Djoko Prakosa,Mufaidi,Soelarso
1,Soni Liston Bukit,Wakhid Nanang Santoso,Feri Arnanda,Fanny Kusumawardhani,Riska Amelya
2,Heri Prasetyo,Galih Gumbira,Triatmoko Yusuf Cahyono,Kastolani,Feri Arnanda
3,Bambang Setioso,Diah Kusumah,Rahmi Izzati,Diah Kusumah,Pranindya Estikaningkapti
4,Ferdinand Marcos Sihotang,Fanny Kusumawardhani,Achmad Sofyan Rasyid,Galih Gumbira,Annisa Dwi Putri
5,Wah Hendrix Priambudi,Ihwan Habib,Adhyanto Cahyo Nugroho,Muhammad Bestari,Prio Santoso
6,Yogma Dwi Aprianto,Teguh Triyanto,Yunita Asmidar,Yogma Dwi Aprianto,Soni Liston Bukit
7,Syeh Ismail Zabarti,Yuwono Aji Satyo,Rahardjo Suhargiyantomo,Taruma Eka Syahputra,Nurhayati
8,Mely Margaretha,Mely Margaretha,Agung Gumelar,Chaula Tafriza,Chaula Tafriza
9,Siti Laely Nur Azizah,Safingi Suhari,Intan Intarty,Ruly Erika S,Jessica Zabrina
10,Ivan Priatno,Bambang Hermawan,Heru Dwi Guna,M Agil,Fahmi Gozali
11,Yuanto Surya Pratama,Luluk Amirotul M,Nur Aulia,Firda Maharani Anwar,Khisna Nur Azizah
12,Eko Cahyo Putranto,Asri Ambarsari,Radita Ari Purwaning,Melani Tri Asari,Siti Laely Nur Azizah
13,Agung Gumelar,Yunita Asmidar,Agnes Adelin S,Budi Warsito,Yuanto Surya Pratama
14,Intan Intarty,Syifa Ahmad Fajri Hadiyanto Putra,Asri Ambarsari,Alvoncha Rizky Prabowo,Mufi Datun Khasanah
15,Soelarso,M. Idham,Sonny,Sri Hardini Wijatsari,Arif Wibawa
16,Rahmi Izzati,Eko Budianto,Andi Suprapto,Tulus Wibowo,Korry Marintan Siahaan
17,Andi Suprapto,Sri Andi Widiastoto,Riska Amelya,Agus Novianto,Achiruddin
18,Nanang Suhartoyo,Mustopa Ridwan,Arik Purnomo,Nanang Suhartoyo,Fitriya Elyta Fajarini
19,Muhammad Ade Hidayat,Achiruddin,Neni Mulyanah,Eko Budianto,Neni Mulyanah
20,Gunawan Febrianto Arthur,Jhon Ferry Sinaga,Amir Budiman,Ariany Pitaloka,Bambang Setioso
21,Suanggi Febriyanto,Muhammad Bestari,Suanggi Febriyanto,Teguh Triyanto,Ferdinand Marcos Sihotang
22,Daryo,Ariany Pitaloka,Gunawan Febrianto Arthur,Muhammad Rico Perdana,Elin Prin Herlinawati
23,Retno Tri Susanti,Melani Tri Asari,Nurlaila,Fera Fanda Luturmas,Fera Fanda Luturmas
24,Fery Daluirmanto,Mufi Datun Khasanah,Retno Tri Susanti,Agnes Adelin S,Astrid Isyana Biki
25,Agung Gumelar,Asep Saepudin,Nurhidayat,Idrus Jamalail,Gayatri O
26,Masgahara Sumarni,Dyah Ayu Sitta R,Luluk Amirotul M,Radita Ari Purwaning,Farah Atika Zahra
27,Anis Nur Ariffin,Budi Warsito,Jessica Zabrina,Syifa Ahmad Fajri HP,Virani Dhini R
28,Alvoncha Rizky Prabowo,Virani Dhini R,Eko Cahyo Putranto,Luluk Amirotul M,Anis Nur Ariffin

In [ ]:
SENIN = list(df2['Senin'].values)
SELASA = list(df2['Selasa'].values)
RABU = list(df2['Rabu'].values)
KAMIS = list(df2['Kamis'].values)
JUMAT = list(df2['Jumat'].values)
JUMAT.append('Rudy Priambodo')

In [ ]:
df_jkantor

,NAMA_PEGAWAI,Unit_Organisasi,SENIN,SELASA,RABU,KAMIS,JUMAT
0,M. Rizal Gunawan,Seksi Penjaminan Kualitas Data,WFO,WFH,WFO,WFO,WFO
1,Irwansyah Lubis,"Seksi Pemeriksaan, Penilaian, dan Penagihan",WFO,WFO,WFO,WFH,WFO
2,Mufaidi,Seksi Pengawasan I,WFO,WFO,WFH,WFO,WFO
3,Djoko Prakosa,Seksi Pengawasan II,WFO,WFH,WFO,WFO,WFO
4,Soelarso,Seksi Pengawasan III,WFO,WFO,WFO,WFH,WFO
...,...,...,...,...,...,...,...
68,Taruma Eka Syaputra,KPP Pratama,WFO,WFO,WFH,WFO,WFO
69,Adhyanto Cahyo Nugroho,KPP Pratama,WFO,WFO,WFO,WFH,WFO
70,Amir Budiman,KPP Pratama,WFO,WFO,WFO,WFO,WFH
71,Pangki,KPP Pratama,WFH,WFO,WFO,WFO,WFO
72,Arini Ruth Yuni Siringo-Ringo,KPP Pratama,WFO,WFO,WFH,WFO,WFO

#List Nama yang available PPS

In [ ]:
bisa_senin = []

for i in range(0, len(df_jkantor.NAMA_PEGAWAI)):
  if df_jkantor["SENIN"][i] == 'WFO':
    if df_jkantor['NAMA_PEGAWAI'][i] not in SENIN:
      bisa_senin.append(df_jkantor['NAMA_PEGAWAI'][i])

In [ ]:
bisa_selasa = []

for i in range(0, len(df_jkantor.NAMA_PEGAWAI)):
  if df_jkantor["SELASA"][i] == 'WFO':
    if df_jkantor['NAMA_PEGAWAI'][i] not in SELASA:
      bisa_selasa.append(df_jkantor['NAMA_PEGAWAI'][i])

In [ ]:
bisa_rabu = []

for i in range(0, len(df_jkantor.NAMA_PEGAWAI)):
  if df_jkantor["RABU"][i] == 'WFO':
    if df_jkantor['NAMA_PEGAWAI'][i] not in RABU:
      bisa_rabu.append(df_jkantor['NAMA_PEGAWAI'][i])

In [ ]:
bisa_kamis = []

for i in range(0, len(df_jkantor.NAMA_PEGAWAI)):
  if df_jkantor["KAMIS"][i] == 'WFO':
    if df_jkantor['NAMA_PEGAWAI'][i] not in KAMIS:
      bisa_kamis.append(df_jkantor['NAMA_PEGAWAI'][i])

In [ ]:
bisa_jumat = []

for i in range(0, len(df_jkantor.NAMA_PEGAWAI)):
  if df_jkantor["JUMAT"][i] == 'WFO':
    if df_jkantor['NAMA_PEGAWAI'][i] not in JUMAT:
      bisa_jumat.append(df_jkantor['NAMA_PEGAWAI'][i])

In [ ]:
data = {'Senin': pd.Series(bisa_senin),
        'Selasa': pd.Series(bisa_selasa),
        'Rabu': pd.Series(bisa_rabu),
        'Kamis': pd.Series(bisa_kamis),
        'Jumat': pd.Series(bisa_jumat)}

bisa_piket = pd.DataFrame(data)
bisa_piket

,Senin,Selasa,Rabu,Kamis,Jumat
0,M. Rizal Gunawan,Irwansyah Lubis,M. Rizal Gunawan,M. Rizal Gunawan,M. Rizal Gunawan
1,Irwansyah Lubis,Mufaidi,Irwansyah Lubis,Djoko Prakosa,Irwansyah Lubis
2,Mufaidi,Soelarso,Soelarso,Arif Wibawa,Mufaidi
3,Djoko Prakosa,Arif Wibawa,Feby Fadilah Rahmat,Sonny,Djoko Prakosa
4,Arif Wibawa,Feby Fadilah Rahmat,Hilman Hermarian,Feby Fadilah Rahmat,Sonny
5,Sonny,Masithah Ibrahim,Masithah Ibrahim,Hilman Hermarian,Hilman Hermarian
6,Feby Fadilah Rahmat,Dedi Sugianto,Dedi Sugianto,Dedi Sugianto,Masithah Ibrahim
7,Hilman Hermarian,Rizka Nur Farikhati,Rizka Nur Farikhati,Lukman Nur Hakim,Dedi Sugianto
8,Masithah Ibrahim,Nuke Listiawati,Lukman Nur Hakim,Nuke Listiawati,Rizka Nur Farikhati
9,Rizka Nur Farikhati,Retryani Hadi,Nuke Listiawati,Retryani Hadi,Lukman Nur Hakim
10,Lukman Nur Hakim,Tulus Wibowo,Retryani Hadi,Wakhid Nanang Santoso,Retryani Hadi
11,Nuke Listiawati,Korry Marintan Siahaan,Agus Novianto,Achmad Sofyan Rasyid,Agus Novianto
12,Agus Novianto,Pranindya Estikaningkapti,Korry Marintan Siahaan,Arik Purnomo,Tulus Wibowo
13,Tulus Wibowo,Fitriya Elyta Fajarini,Wakhid Nanang Santoso,Neni Mulyanah,Fanny Kusumawardhani
14,Korry Marintan Siahaan,Feri Arnanda,Fanny Kusumawardhani,Sri Andi Widiastoto,Achmad Sofyan Rasyid
15,Wakhid Nanang Santoso,Andi Suprapto,Pranindya Estikaningkapti,Heri Prasetyo,Eko Budianto
16,Achmad Sofyan Rasyid,Prio Santoso,Nanang Suhartoyo,Prio Santoso,Nanang Suhartoyo
17,Eko Budianto,Soni Liston Bukit,Fitriya Elyta Fajarini,Soni Liston Bukit,Galih Gumbira
18,Pranindya Estikaningkapti,Rahmi Izzati,Muhammad Bestari,Rahmi Izzati,Arik Purnomo
19,Fitriya Elyta Fajarini,Kastolani,Galih Gumbira,Ferdinand Marcos Sihotang,Sri Andi Widiastoto
20,Muhammad Bestari,Ferdinand Marcos Sihotang,Diah Kusumah,Suanggi Febriyanto,Andi Suprapto
21,Arik Purnomo,Suanggi Febriyanto,Heri Prasetyo,Triatmoko Yusuf Cahyono,Heri Prasetyo
22,Feri Arnanda,Triatmoko Yusuf Cahyono,Mustopa Ridwan,Annisa Dwi Putri,Mustopa Ridwan
23,Neni Mulyanah,Annisa Dwi Putri,Prio Santoso,Riska Amelya,Kastolani
24,Sri Andi Widiastoto,Riska Amelya,Kastolani,Bambang Setioso,Rahardjo Suhargiyantomo
25,Diah Kusumah,Bambang Setioso,Achiruddin,Elin Prin Herlinawati,Yuwono Aji Satyo
26,Mustopa Ridwan,Elin Prin Herlinawati,Annisa Dwi Putri,Rahardjo Suhargiyantomo,Muhammad Ade Hidayat
27,Achiruddin,Nurhayati,Nurhayati,Yuwono Aji Satyo,M. Idham
28,Triatmoko Yusuf Cahyono,Rahardjo Suhargiyantomo,Yuwono Aji Satyo,Rudy Priambodo,Karta Sastra
29,Elin Prin Herlinawati,Muhammad Ade Hidayat,Rudy Priambodo,Muhammad Ade Hidayat,Ariany Pitaloka
30,Nurhayati,Karta Sastra,M. Idham,Karta Sastra,Ferdhi Farid Febrian
31,Rudy Priambodo,Novrina,Karta Sastra,Novrina,Wah Hendrix Priambudi
32,M. Idham,Ferdhi Farid Febrian,Novrina,Ferdhi Farid Febrian,Liza Purnamasari
33,Novrina,Achmad Supriyanto,Ariany Pitaloka,Wah Hendrix Priambudi,Achmad Supriyanto
34,Ferdhi Farid Febrian,Daryo,Wah Hendrix Priambudi,Liza Purnamasari,Gunawan Febrianto Anthur
35,Liza Purnamasari,Gunawan Febrianto Anthur,Liza Purnamasari,Achmad Supriyanto,Jhon Ferry Sinaga
36,Achmad Supriyanto,Abidah Hanim,Daryo,Daryo,Muhammad Rico Perdana
37,Gunawan Febrianto Anthur,Taruma Eka Syaputra,Gunawan Febrianto Anthur,Jhon Ferry Sinaga,Ihwan Habib
38,Jhon Ferry Sinaga,Adhyanto Cahyo Nugroho,Muhammad Rico Perdana,Ihwan Habib,Abidah Hanim
39,Muhammad Rico Perdana,Amir Budiman,Ihwan Habib,Abidah Hanim,Zia Ul Haq
40,Taruma Eka Syaputra,Pangki,Abidah Hanim,Zia Ul Haq,Syeh Ismail Zabarti
41,Adhyanto Cahyo Nugroho,Arini Ruth Yuni Siringo-Ringo,Zia Ul Haq,Syeh Ismail Zabarti,Taruma Eka Syaputra
42,Amir Budiman,NaN,Syeh Ismail Zabarti,Taruma Eka Syaputra,Adhyanto Cahyo Nugroho
43,Arini Ruth Yuni Siringo-Ringo,NaN,Pangki,Amir Budiman,Pangki
44,NaN,NaN,NaN,Pangki,Arini Ruth Yuni Siringo-Ringo
45,NaN,NaN,NaN,Arini Ruth Yuni Siringo-Ringo,NaN

In [ ]:
bisa_piket.to_excel('/content/day_available.xlsx')

In [ ]:
jadwal_senin = []
jadwal_selasa = []
jadwal_rabu = []
jadwal_kamis = []
jadwal_jumat = []

batas = 14

for nama in df_jkantor.NAMA_PEGAWAI.values:
  if nama in bisa_piket.Senin.values:
    if len(jadwal_senin) < batas:
      jadwal_senin.append(nama)
    else: break
  
for nama in df_jkantor.NAMA_PEGAWAI.values:
  if nama in bisa_piket.Selasa.values:
    if nama not in jadwal_senin:
      if len(jadwal_selasa) < batas:
        jadwal_selasa.append(nama)
      else: break

for nama in df_jkantor.NAMA_PEGAWAI.values:
  if nama in bisa_piket.Rabu.values:
    if nama not in jadwal_senin + jadwal_selasa:
      if len(jadwal_rabu) < batas:
        jadwal_rabu.append(nama)
      else: break

for nama in df_jkantor.NAMA_PEGAWAI.values:
  if nama in bisa_piket.Kamis.values:
    if nama not in jadwal_senin + jadwal_selasa + jadwal_rabu:
      if len(jadwal_kamis) < batas:
        jadwal_kamis.append(nama)
      else: break

for nama in df_jkantor.NAMA_PEGAWAI.values:
  if nama in bisa_piket.Jumat.values:
    if nama not in jadwal_senin + jadwal_selasa + jadwal_rabu + jadwal_kamis:
      if len(jadwal_jumat) < batas:
        jadwal_jumat.append(nama)
      else: break

In [ ]:
data2 = {'Senin': pd.Series(jadwal_senin),
        'Selasa': pd.Series(jadwal_selasa),
        'Rabu': pd.Series(jadwal_rabu),
        'Kamis': pd.Series(jadwal_kamis),
        'Jumat': pd.Series(jadwal_jumat)}

jadwal_piket = pd.DataFrame(data2)
jadwal_piket

,Senin,Selasa,Rabu,Kamis,Jumat
0,M. Rizal Gunawan,Soelarso,Wakhid Nanang Santoso,Achmad Sofyan Rasyid,Eko Budianto
1,Irwansyah Lubis,Dedi Sugianto,Fanny Kusumawardhani,Arik Purnomo,Ariany Pitaloka
2,Mufaidi,Retryani Hadi,Nanang Suhartoyo,Neni Mulyanah,Liza Purnamasari
3,Djoko Prakosa,Korry Marintan Siahaan,Muhammad Bestari,Sri Andi Widiastoto,Achmad Supriyanto
4,Arif Wibawa,Pranindya Estikaningkapti,Galih Gumbira,Triatmoko Yusuf Cahyono,Gunawan Febrianto Anthur
5,Sonny,Fitriya Elyta Fajarini,Diah Kusumah,Riska Amelya,Jhon Ferry Sinaga
6,Feby Fadilah Rahmat,Feri Arnanda,Heri Prasetyo,Bambang Setioso,Muhammad Rico Perdana
7,Hilman Hermarian,Andi Suprapto,Mustopa Ridwan,Elin Prin Herlinawati,Ihwan Habib
8,Masithah Ibrahim,Prio Santoso,Achiruddin,Rahardjo Suhargiyantomo,Abidah Hanim
9,Rizka Nur Farikhati,Soni Liston Bukit,Annisa Dwi Putri,Muhammad Ade Hidayat,Zia Ul Haq
10,Lukman Nur Hakim,Rahmi Izzati,Nurhayati,Karta Sastra,Syeh Ismail Zabarti
11,Nuke Listiawati,Kastolani,Yuwono Aji Satyo,Novrina,Taruma Eka Syaputra
12,Agus Novianto,Ferdinand Marcos Sihotang,Rudy Priambodo,Ferdhi Farid Febrian,Adhyanto Cahyo Nugroho
13,Tulus Wibowo,Suanggi Febriyanto,M. Idham,Wah Hendrix Priambudi,Pangki

In [ ]:
jadwal_piket.to_excel('/content/jadwal_piket.xlsx')

# Koordinator

In [ ]:
co = ['M. Rizal Gunawan','Irwansyah Lubis','Mufaidi','Djoko Prakosa','Soelarso','Arif Wibawa','Sonny','M. Idham','Achmad Supriyanto','Zia Ul Haq']

In [ ]:
kpp = df_jkantor[df_jkantor["Unit_Organisasi"]=="KPP Pratama"]["NAMA_PEGAWAI"]
kpp = pd.DataFrame(kpp)
kpp = kpp[~kpp.NAMA_PEGAWAI.isin(co)]
kpp.reset_index(drop=True, inplace=True)
kpp

                     NAMA_PEGAWAI
0                    Karta Sastra
1                         Novrina
2                 Ariany Pitaloka
3            Ferdhi Farid Febrian
4           Wah Hendrix Priambudi
5                Liza Purnamasari
6                           Daryo
7        Gunawan Febrianto Anthur
8               Jhon Ferry Sinaga
9           Muhammad Rico Perdana
10                    Ihwan Habib
11                   Abidah Hanim
12            Syeh Ismail Zabarti
13            Taruma Eka Syaputra
14         Adhyanto Cahyo Nugroho
15                   Amir Budiman
16                         Pangki
17  Arini Ruth Yuni Siringo-Ringo

In [ ]:
pel = df_jkantor[df_jkantor["Unit_Organisasi"]=="Seksi Pelayanan"]["NAMA_PEGAWAI"]
pel = pd.DataFrame(pel)
pel.reset_index(drop=True, inplace=True)
pel

          NAMA_PEGAWAI
0  Feby Fadilah Rahmat
1     Hilman Hermarian
2     Masithah Ibrahim
3        Dedi Sugianto
4  Rizka Nur Farikhati
5     Lukman Nur Hakim
6      Nuke Listiawati
7        Retryani Hadi

In [ ]:
co_senin = []
co_selasa = []
co_rabu = []
co_kamis = []
co_jumat = []

kpp_senin = []
kpp_selasa = []
kpp_rabu = []
kpp_kamis = []
kpp_jumat = []

pel_senin = []
pel_selasa = []
pel_rabu = []
pel_kamis = []
pel_jumat = []

jadwal_senin = []
jadwal_selasa = []
jadwal_rabu = []
jadwal_kamis = []
jadwal_jumat = []

batas = 6 
batas_co = 2
batas_pel = 1
batas_kpp = 1

#senin
for i in range(0, len(df_jkantor.NAMA_PEGAWAI)): 
  if df_jkantor["NAMA_PEGAWAI"][i] in bisa_piket.Senin.values:
    if df_jkantor["NAMA_PEGAWAI"][i] in co:
      if len(co_senin) < batas_co:
        co_senin.append(df_jkantor["NAMA_PEGAWAI"][i])
      
    elif df_jkantor["NAMA_PEGAWAI"][i] in kpp.values:
      if len(kpp_senin) < batas_kpp:
        kpp_senin.append(df_jkantor["NAMA_PEGAWAI"][i])
      
    elif df_jkantor["NAMA_PEGAWAI"][i] in pel.values:
      if len(pel_senin) < batas_pel:
        pel_senin.append(df_jkantor["NAMA_PEGAWAI"][i])
     
    else: 
      if len(jadwal_senin) < batas:
        jadwal_senin.append(df_jkantor["NAMA_PEGAWAI"][i])
      

#selasa
for i in range(0, len(df_jkantor.NAMA_PEGAWAI)): 
  if df_jkantor["NAMA_PEGAWAI"][i] in bisa_piket.Selasa.values:
    if df_jkantor["NAMA_PEGAWAI"][i] in co:
      if df_jkantor["NAMA_PEGAWAI"][i] not in co_senin:
        if len(co_selasa) < batas_co:
          co_selasa.append(df_jkantor["NAMA_PEGAWAI"][i])
        
    elif df_jkantor["NAMA_PEGAWAI"][i] in kpp.values:
      if df_jkantor["NAMA_PEGAWAI"][i] not in kpp_senin:
        if len(kpp_selasa) < batas_kpp:
          kpp_selasa.append(df_jkantor["NAMA_PEGAWAI"][i])
        
    elif df_jkantor["NAMA_PEGAWAI"][i] in pel.values:
      if df_jkantor["NAMA_PEGAWAI"][i] not in pel_senin:
        if len(pel_selasa) < batas_pel:
          pel_selasa.append(df_jkantor["NAMA_PEGAWAI"][i])
        
    else: 
      if df_jkantor["NAMA_PEGAWAI"][i] not in jadwal_senin:
        if len(jadwal_selasa) < batas:
          jadwal_selasa.append(df_jkantor["NAMA_PEGAWAI"][i])
        

#rabu
for i in range(0, len(df_jkantor.NAMA_PEGAWAI)): 
  if df_jkantor["NAMA_PEGAWAI"][i] in bisa_piket.Rabu.values:
    if df_jkantor["NAMA_PEGAWAI"][i] in co:
      if df_jkantor["NAMA_PEGAWAI"][i] not in co_senin + co_selasa:
        if len(co_rabu) < batas_co:
          co_rabu.append(df_jkantor["NAMA_PEGAWAI"][i])
        
    elif df_jkantor["NAMA_PEGAWAI"][i] in kpp.values:
      if df_jkantor["NAMA_PEGAWAI"][i] not in kpp_senin + kpp_selasa:
        if len(kpp_rabu) < batas_kpp:
          kpp_rabu.append(df_jkantor["NAMA_PEGAWAI"][i])
        
    elif df_jkantor["NAMA_PEGAWAI"][i] in pel.values:
      if df_jkantor["NAMA_PEGAWAI"][i] not in pel_senin + pel_selasa:
        if len(pel_rabu) < batas_pel:
          pel_rabu.append(df_jkantor["NAMA_PEGAWAI"][i])
        
    else: 
      if df_jkantor["NAMA_PEGAWAI"][i] not in jadwal_senin + jadwal_selasa:
        if len(jadwal_rabu) < batas:
          jadwal_rabu.append(df_jkantor["NAMA_PEGAWAI"][i])
        

#kamis
for i in range(0, len(df_jkantor.NAMA_PEGAWAI)): 
  if df_jkantor["NAMA_PEGAWAI"][i] in bisa_piket.Kamis.values:
    if df_jkantor["NAMA_PEGAWAI"][i] in co:
      if df_jkantor["NAMA_PEGAWAI"][i] not in co_senin + co_selasa + co_rabu:
        if len(co_kamis) < batas_co:
          co_kamis.append(df_jkantor["NAMA_PEGAWAI"][i])
        
    elif df_jkantor["NAMA_PEGAWAI"][i] in kpp.values:
      if df_jkantor["NAMA_PEGAWAI"][i] not in kpp_senin + kpp_selasa + kpp_rabu:
        if len(kpp_kamis) < batas_kpp:
          kpp_kamis.append(df_jkantor["NAMA_PEGAWAI"][i])
        
    elif df_jkantor["NAMA_PEGAWAI"][i] in pel.values:
      if df_jkantor["NAMA_PEGAWAI"][i] not in pel_senin + pel_selasa + pel_rabu:
        if len(pel_kamis) < batas_pel:
          pel_kamis.append(df_jkantor["NAMA_PEGAWAI"][i])
       
    else: 
      if df_jkantor["NAMA_PEGAWAI"][i] not in jadwal_senin + jadwal_selasa + jadwal_rabu:
        if len(jadwal_kamis) < batas:
          jadwal_kamis.append(df_jkantor["NAMA_PEGAWAI"][i])
       

#jumat
for i in range(0, len(df_jkantor.NAMA_PEGAWAI)): 
  if df_jkantor["NAMA_PEGAWAI"][i] in bisa_piket.Jumat.values:
    if df_jkantor["NAMA_PEGAWAI"][i] in co:
      if df_jkantor["NAMA_PEGAWAI"][i] not in co_senin + co_selasa + co_rabu + co_kamis:
        if len(co_jumat) < batas_co:
          co_jumat.append(df_jkantor["NAMA_PEGAWAI"][i])
        
    elif df_jkantor["NAMA_PEGAWAI"][i] in kpp.values:
      if df_jkantor["NAMA_PEGAWAI"][i] not in kpp_senin + kpp_selasa + kpp_rabu + kpp_kamis:
        if len(kpp_jumat) < batas_kpp:
          kpp_jumat.append(df_jkantor["NAMA_PEGAWAI"][i])
       
    elif df_jkantor["NAMA_PEGAWAI"][i] in pel.values:
      if df_jkantor["NAMA_PEGAWAI"][i] not in pel_senin + pel_selasa + pel_rabu + pel_kamis:
        if len(pel_jumat) < batas_pel:
          pel_jumat.append(df_jkantor["NAMA_PEGAWAI"][i])
       
    else: 
      if df_jkantor["NAMA_PEGAWAI"][i] not in jadwal_senin + jadwal_selasa + jadwal_rabu + jadwal_kamis:
        if len(jadwal_jumat) < batas:
          jadwal_jumat.append(df_jkantor["NAMA_PEGAWAI"][i])

In [ ]:
data3 = {'Senin': pd.Series(co_senin + kpp_senin + pel_senin + jadwal_senin),
        'Selasa': pd.Series(co_selasa + kpp_selasa + pel_selasa + jadwal_selasa),
        'Rabu': pd.Series(co_rabu + kpp_rabu + pel_rabu + jadwal_rabu),
        'Kamis': pd.Series(co_kamis + kpp_kamis + pel_kamis + jadwal_kamis),
        'Jumat': pd.Series(co_jumat + kpp_jumat + pel_jumat + jadwal_jumat)}

jadwal_pps = pd.DataFrame(data3)
jadwal_pps

,Senin,Selasa,Rabu,Kamis,Jumat
0,M. Rizal Gunawan,Mufaidi,M. Idham,Djoko Prakosa,Sonny
1,Irwansyah Lubis,Soelarso,Zia Ul Haq,Arif Wibawa,Achmad Supriyanto
2,Novrina,Karta Sastra,Ariany Pitaloka,Ferdhi Farid Febrian,Wah Hendrix Priambudi
3,Feby Fadilah Rahmat,Masithah Ibrahim,Hilman Hermarian,Dedi Sugianto,Rizka Nur Farikhati
4,Agus Novianto,Pranindya Estikaningkapti,Fanny Kusumawardhani,Arik Purnomo,Mustopa Ridwan
5,Tulus Wibowo,Fitriya Elyta Fajarini,Nanang Suhartoyo,Neni Mulyanah,Kastolani
6,Korry Marintan Siahaan,Feri Arnanda,Muhammad Bestari,Sri Andi Widiastoto,Rahardjo Suhargiyantomo
7,Wakhid Nanang Santoso,Andi Suprapto,Galih Gumbira,Rahmi Izzati,Yuwono Aji Satyo
8,Achmad Sofyan Rasyid,Prio Santoso,Diah Kusumah,Ferdinand Marcos Sihotang,Muhammad Ade Hidayat
9,Eko Budianto,Soni Liston Bukit,Heri Prasetyo,Suanggi Febriyanto,NaN

In [ ]:
jadwal_pps.to_excel('/content/jadwal_pps.xlsx')